In [ ]:
Python 
---------
ML Libs - numpy pandas matplotlib scipy skitlean torch ...
-------
anaconda install - ML + DA Libs + GIL disabled 
----------------- ====================

download python from python.org => cpython - we can do python program ...
                                             pip install numpy
                                             pip install pandas 
                                             ...
                                             Multithreading - GIL enabled 

ipython
jython
..

In [ ]:
python - class <--> object //design style
           |        |_ real entity 
          Type
int float str bool bytes NoneType list tuple dict set //native types 

    10 - class int
    10.0 - class float
    '10.0' - class str

In [1]:
a = 10
b = 3+7
c = 4+6
d = 2+8
print(hex(id(a)),hex(id(b)),hex(id(c)),hex(id(d)),hex(id(10)))

0x7ffe24845ad8 0x7ffe24845ad8 0x7ffe24845ad8 0x7ffe24845ad8 0x7ffe24845ad8

In [ ]:
Python programming
- procedure style - direct approach style
                    ------------------------
                        var = 10
                        def fx():
                             ....
                        fx() <== direct function call
                        print(var) 


- object oriented style 
                        class className:
                             ...
                             def fx(self):
                                  .....
                        obj1 = className()
                        obj1.var = 10  # object based initialization
                        obj2.var = 10
                        obj1.fx() # method call 

- Functional style  - Single line Code - this is not block style Code
                    list(map(lambda <operation>,collection))

In [3]:
L = []

def f1(a):
    return a + 100

for var in range(1,10):
    r = f1(var)
    L.append(r)

L

[101, 102, 103, 104, 105, 106, 107, 108, 109]

In [5]:
list(map(lambda a:a+100,range(1,10)))

[101, 102, 103, 104, 105, 106, 107, 108, 109]

In [7]:
d={}
d['K1']=list(map(lambda a:a+100,range(1,10)))
d['K2']={'Kx':list(map(lambda a:a+100,range(1,10)))}
d

{'K1': [101, 102, 103, 104, 105, 106, 107, 108, 109],
 'K2': {'Kx': [101, 102, 103, 104, 105, 106, 107, 108, 109]}}

In [ ]:
Python native types
int float complex - numberbased 
          -------
True False - bool 
None - NoneType

Arithmetic - inputTypes (int,float) ->int,float
String - inputType(int,str) -> str
Relational - inputTypes( int,float,str) ->bool
Logical  - inputTypes(int,float,str) ->bool
Membership - inputTypes(str,bytes,list,tuple,dict,set) ->bool
 (in non in) 
identity  - class,object  ->bool
is isnot

In [19]:
a = 10
type(a) is int

True

In [21]:
type(10) is int

True

In [23]:
type(10.0) is int

False

In [ ]:
conditional statement - Code validation 
if statement 
Looping statement 
collection style - str bytes list tuples dict set - for keyword 
condition style  - based on bool ->True ->ok       - while keyword
                                 ->False ->block won't execute

Object oriented programming
class 
object
method
   |->special methods 
   |->decorator 
inheritance 

Functional programming
------------------------
lambda 
comprehension
generator 
map,filter,enumerate 
-----------------------------------------------------------
networkx
numpy ->pandas ->matplotlib -> pytorch ... 
nlp ->nlptk - embedding ...
------------------------------------------------------------

In [ ]:
class - type
      - attributes
      - mutable type - we can add new attribute; modifiy; delete 
Syntax:-
---------
class className:
    <attribute>
className.<attribute>    => AttributeError 
className.<existingAttribute>=updateValue
del(className.<attribute>)

     +-------------------------------+
     |  [ ]   []         |   |       |   <== blueprint sheet  - class 
     |              (white)          |
     +-------------------------------+

className() # constructor - object creation
+-----------------+    +--------------+
|[] []      |   | |    |[][]     |   ||
|   (white)       |    | (white)      |
+-----------------+    +--------------+
   Building-B1            Building-B2  - object
    1st main                2nd main 
    0x1234                  0x3231

In [25]:
class enrollment:
    name = ''
    dob = ''
    place = ''

In [27]:
print(type(enrollment))

<class 'type'>

In [31]:
print(type(int),type(float),type(list),type(bool),type(enrollment))

<class 'type'> <class 'type'> <class 'type'> <class 'type'> <class 'type'>

In [33]:
obj1 = enrollment()
obj1.name = 'arun'
obj1.dob = '1st Jan'
obj1.place = 'City-1'

obj2 = enrollment()
obj2.name = 'anu'
obj2.dob = '2nd Feb'
obj2.place = 'City-2'

In [35]:
print(f'Emp name is:{obj1.name}, DOB:{obj1.dob}, City:{obj1.place}')
print('')
print(f'Emp name is:{obj2.name}, DOB:{obj2.dob}, City:{obj2.place}')

Emp name is:arun, DOB:1st Jan, City:City-1

Emp name is:anu, DOB:2nd Feb, City:City-2

In [37]:
obj2.place='City-3' # we can update to specific attribute

In [39]:
print(f'Emp name is:{obj1.name}, DOB:{obj1.dob}, City:{obj1.place}')
print('')
print(f'Emp name is:{obj2.name}, DOB:{obj2.dob}, City:{obj2.place}')

Emp name is:arun, DOB:1st Jan, City:City-1

Emp name is:anu, DOB:2nd Feb, City:City-3

In [43]:
class product:
    pname = 'prodX'

print(product.pname)
product.pname = 'pX' # overwrite 
print(product.pname)

prodX
pX

In [45]:
obj1 = product()
obj1.pname

'pX'

In [47]:
obj1.pname = 'B1' # object based - initialization
print(obj1.pname)

B1

In [49]:
obj2 = product()
obj2.pname

'pX'

In [55]:
def f1():
    print("Hello")

# f1() # Hello
# f1(10) TypeError: f1() takes 0 positional arguments but 1 was given

In [59]:
class product:
    pid = 101
    def f2():
        print('display product details')

# pid  - class attribute
# f2   - class attribute
obj = product()
print(obj.pid)
# obj.f2() //methodCall -> f2(obj)

101

TypeError: product.f2() takes 0 positional arguments but 1 was given

In [63]:
class product:
    def f2(self):
        print("self=",self)

obj1=product()
print("obj1=",obj1)
obj1.f2() # f2(obj1)
print('')
obj2 = product()
print("obj2=",obj2)
obj2.f2() # f2(obj2)

obj1= <__main__.product object at 0x00000257B4781F10>
self= <__main__.product object at 0x00000257B4781F10>

obj2= <__main__.product object at 0x00000257B47830B0>
self= <__main__.product object at 0x00000257B47830B0>

In [ ]:
#obj2.f2("D1","D2") => f2(obj2,"D1","D2") -> def f2(self,a1,a2):

In [65]:
class enrollment:
    name = ''
    dob = ''
    place = ''
    def f1(self,n,d,p):
        '''initialization'''
        self.name = n
        self.dob = d
        self.place = p
        print('Enrollment is done')
    def f2(self):
        '''display emp details'''
        print(f'Emp name:{self.name} DOB:{self.dob} Place:{self.place}')
    def f3(self,p):
        '''update emp working city'''
        self.place = p
        print(f'{self.name} updated city details is:')
        self.f2() # nested method Call

In [67]:
obj1 = enrollment()
obj1.f1('arun','1st jan','City1')

Enrollment is done

In [69]:
obj2 = enrollment()
obj2.f1('Anu','2nd Feb','City2')

Enrollment is done

In [71]:
obj1.f2()

Emp name:arun DOB:1st jan Place:City1

In [73]:
obj2.f2()

Emp name:Anu DOB:2nd Feb Place:City2

In [75]:
obj2.f3('Pune')

Anu updated city details is:
Emp name:Anu DOB:2nd Feb Place:Pune

In [77]:
obj2.f2()

Emp name:Anu DOB:2nd Feb Place:Pune

In [79]:
obj3 = enrollment()
obj3.f2()

Emp name: DOB: Place:

In [81]:
obj3.f1('vijay','3rd March','City-3')

Enrollment is done

In [83]:
obj3.f2()

Emp name:vijay DOB:3rd March Place:City-3

#DataBase - establish db connection ->do query1 query2 ...queryN

class DBI:
    def connect(self,....):
        ....
    def method1(self):
        '''Query1'''
    def method2(self):
        '''Query2'''

obj = DBI()
obj.method2() # in OOPs - OK;  DB-Appln -DB Error 
In python any variable name <or> method name starts with __<label>__ <== pre-defined attribute
__init__()

>>> class product:
...     def f1(self):
...         print("product details")
...
>>> product()
<__main__.product object at 0x000001B9F7A441A0>
>>> obj = product()
>>> obj.f1()
product details
>>>
>>> class product:
...     def __init__(self):
...         print("product details")
...
>>> product()
product details
<__main__.product object at 0x000001B9F7A446E0>
>>>
>>> obj=product()
product details
>>

>>> class myclass:
...     def __init__(self):
...         print("initialization")
...     def __del__(self):
...         print("Thank you")
...
>>> obj = myclass()
initialization
>>> del(obj)
Thank you
>>>
>>> obj = myclass()
initialization
>>> exit


()
Thank you

In [85]:
class enrollment:
    def __init__(self,n,d,p):
        '''initialization'''
        self.name = n
        self.dob = d
        self.place = p
        print('Enrollment is done')
    def f2(self):
        '''display emp details'''
        print(f'Emp name:{self.name} DOB:{self.dob} Place:{self.place}')
    def f3(self,p):
        '''update emp working city'''
        self.place = p
        print(f'{self.name} updated city details is:')
        self.f2() # nested method Call

In [87]:
obj1 = enrollment('Arun','1st Jan','City-1')
obj2 = enrollment('Anu','2nd Feb','City-2')

Enrollment is done
Enrollment is done

In [89]:
obj1.f2()

Emp name:Arun DOB:1st Jan Place:City-1

In [91]:
obj2.f2()

Emp name:Anu DOB:2nd Feb Place:City-2

In [93]:
objX = enrollment()

TypeError: enrollment.__init__() missing 3 required positional arguments: 'n', 'd', and 'p'

In [95]:
objX

NameError: name 'objX' is not defined

In [99]:
# help(int)        
dir(int)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'is_integer',
 'numerator',
 'real',
 'to_bytes']

In [101]:
dir(enrollment)

['__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'f2',
 'f3']

In [103]:
class myclass:
    def __init__(self,a=0):
        self.a = a
    def __str__(self):
        return str(self.a+100)
    def __len__(self):
        return 10
    def __del__(self):
        del(self.a)

In [105]:
obj = myclass(15)

In [107]:
str(obj)

'115'

In [109]:
len(obj)

10

In [111]:
del(obj)

In [113]:
import pandas
print(pandas.DataFrame)

<class 'pandas.core.frame.DataFrame'>

In [ ]:
pandas/
   |___core/
        |____frame.py
                |_________class DataFrame:
                                   ....

In [117]:
# To get list of all the class attributes
dir(pandas.DataFrame)
print(len(dir(pandas.DataFrame)))

437

In [119]:
class product:
    '''about product details'''

In [121]:
product.__doc__

'about product details'

In [123]:
print(pandas.DataFrame.__doc__)

    Two-dimensional, size-mutable, potentially heterogeneous tabular data.

    Data structure also contains labeled axes (rows and columns).
    Arithmetic operations align on both row and column labels. Can be
    thought of as a dict-like container for Series objects. The primary
    pandas data structure.

    Parameters
    ----------
    data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame
        Dict can contain Series, arrays, constants, dataclass or list-like objects. If
        data is a dict, column order follows insertion-order. If a dict contains Series
        which have an index defined, it is aligned by its index. This alignment also
        occurs if data is a Series or a DataFrame itself. Alignment is done on
        Series/DataFrame inputs.

        If data is a list of dicts, column order follows insertion-order.

    index : Index or array-like
        Index to use for resulting frame. Will default to RangeIndex if
        no indexing information part of input data and no index provided.
    columns : Index or array-like
        Column labels to use for resulting frame when data does not have them,
        defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,
        will perform column selection instead.
    dtype : dtype, default None
        Data type to force. Only a single dtype is allowed. If None, infer.
    copy : bool or None, default None
        Copy data from inputs.
        For dict data, the default of None behaves like ``copy=True``.  For DataFrame
        or 2d ndarray input, the default of None behaves like ``copy=False``.
        If data is a dict containing one or more Series (possibly of different dtypes),
        ``copy=False`` will ensure that these inputs are not copied.

        .. versionchanged:: 1.3.0

    See Also
    --------
    DataFrame.from_records : Constructor from tuples, also record arrays.
    DataFrame.from_dict : From dicts of Series, arrays, or dicts.
    read_csv : Read a comma-separated values (csv) file into DataFrame.
    read_table : Read general delimited file into DataFrame.
    read_clipboard : Read text from clipboard into DataFrame.

    Notes
    -----
    Please reference the :ref:`User Guide <basics.dataframe>` for more information.

    Examples
    --------
    Constructing DataFrame from a dictionary.

    >>> d = {'col1': [1, 2], 'col2': [3, 4]}
    >>> df = pd.DataFrame(data=d)
    >>> df
       col1  col2
    0     1     3
    1     2     4

    Notice that the inferred dtype is int64.

    >>> df.dtypes
    col1    int64
    col2    int64
    dtype: object

    To enforce a single dtype:

    >>> df = pd.DataFrame(data=d, dtype=np.int8)
    >>> df.dtypes
    col1    int8
    col2    int8
    dtype: object

    Constructing DataFrame from a dictionary including Series:

    >>> d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[2, 3])}
    >>> pd.DataFrame(data=d, index=[0, 1, 2, 3])
       col1  col2
    0     0   NaN
    1     1   NaN
    2     2   2.0
    3     3   3.0

    Constructing DataFrame from numpy ndarray:

    >>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),
    ...                    columns=['a', 'b', 'c'])
    >>> df2
       a  b  c
    0  1  2  3
    1  4  5  6
    2  7  8  9

    Constructing DataFrame from a numpy ndarray that has labeled columns:

    >>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],
    ...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])
    >>> df3 = pd.DataFrame(data, columns=['c', 'a'])
    ...
    >>> df3
       c  a
    0  3  1
    1  6  4
    2  9  7

    Constructing DataFrame from dataclass:

    >>> from dataclasses import make_dataclass
    >>> Point = make_dataclass("Point", [("x", int), ("y", int)])
    >>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])
       x  y
    0  0  0
    1  0  3
    2  2  3

    Constructing DataFrame from Series/DataFrame:

    >>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])
    >>> df = pd.DataFrame(data=ser, index=["a", "c"])
    >>> df
       0
    a  1
    c  3

    >>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])
    >>> df2 = pd.DataFrame(data=df1, index=["a", "c"])
    >>> df2
       x
    a  1
    c  3

In [129]:
class product:
    '''about product px class details'''
    pid = 101
    pname = 'pX'
    def f1(self):
        pass
    def f2(self):
        pass
    results = ['D1','D2']

In [131]:
product.__dict__

mappingproxy({'__module__': '__main__',
              '__doc__': 'about product px class details',
              'pid': 101,
              'pname': 'pX',
              'f1': <function __main__.product.f1(self)>,
              'f2': <function __main__.product.f2(self)>,
              'results': ['D1', 'D2'],
              '__dict__': <attribute '__dict__' of 'product' objects>,
              '__weakref__': <attribute '__weakref__' of 'product' objects>})

In [133]:
print(pandas.DataFrame.__dict__)

{'__module__': 'pandas.core.frame', '__annotations__': {'_accessors': 'set[str]', '_hidden_attrs': 'frozenset[str]', '_mgr': 'BlockManager | ArrayManager', '_constructor_sliced': 'Callable[..., Series]', '_AXIS_ORDERS': "list[Literal['index', 'columns']]", '_AXIS_TO_AXIS_NUMBER': 'dict[Axis, int]', '_info_axis_number': 'Literal[1]', '_info_axis_name': "Literal['columns']"}, '__doc__': '\n    Two-dimensional, size-mutable, potentially heterogeneous tabular data.\n\n    Data structure also contains labeled axes (rows and columns).\n    Arithmetic operations align on both row and column labels. Can be\n    thought of as a dict-like container for Series objects. The primary\n    pandas data structure.\n\n    Parameters\n    ----------\n    data : ndarray (structured or homogeneous), Iterable, dict, or DataFrame\n        Dict can contain Series, arrays, constants, dataclass or list-like objects. If\n        data is a dict, column order follows insertion-order. If a dict contains Series\n        which have an index defined, it is aligned by its index. This alignment also\n        occurs if data is a Series or a DataFrame itself. Alignment is done on\n        Series/DataFrame inputs.\n\n        If data is a list of dicts, column order follows insertion-order.\n\n    index : Index or array-like\n        Index to use for resulting frame. Will default to RangeIndex if\n        no indexing information part of input data and no index provided.\n    columns : Index or array-like\n        Column labels to use for resulting frame when data does not have them,\n        defaulting to RangeIndex(0, 1, 2, ..., n). If data contains column labels,\n        will perform column selection instead.\n    dtype : dtype, default None\n        Data type to force. Only a single dtype is allowed. If None, infer.\n    copy : bool or None, default None\n        Copy data from inputs.\n        For dict data, the default of None behaves like ``copy=True``.  For DataFrame\n        or 2d ndarray input, the default of None behaves like ``copy=False``.\n        If data is a dict containing one or more Series (possibly of different dtypes),\n        ``copy=False`` will ensure that these inputs are not copied.\n\n        .. versionchanged:: 1.3.0\n\n    See Also\n    --------\n    DataFrame.from_records : Constructor from tuples, also record arrays.\n    DataFrame.from_dict : From dicts of Series, arrays, or dicts.\n    read_csv : Read a comma-separated values (csv) file into DataFrame.\n    read_table : Read general delimited file into DataFrame.\n    read_clipboard : Read text from clipboard into DataFrame.\n\n    Notes\n    -----\n    Please reference the :ref:`User Guide <basics.dataframe>` for more information.\n\n    Examples\n    --------\n    Constructing DataFrame from a dictionary.\n\n    >>> d = {\'col1\': [1, 2], \'col2\': [3, 4]}\n    >>> df = pd.DataFrame(data=d)\n    >>> df\n       col1  col2\n    0     1     3\n    1     2     4\n\n    Notice that the inferred dtype is int64.\n\n    >>> df.dtypes\n    col1    int64\n    col2    int64\n    dtype: object\n\n    To enforce a single dtype:\n\n    >>> df = pd.DataFrame(data=d, dtype=np.int8)\n    >>> df.dtypes\n    col1    int8\n    col2    int8\n    dtype: object\n\n    Constructing DataFrame from a dictionary including Series:\n\n    >>> d = {\'col1\': [0, 1, 2, 3], \'col2\': pd.Series([2, 3], index=[2, 3])}\n    >>> pd.DataFrame(data=d, index=[0, 1, 2, 3])\n       col1  col2\n    0     0   NaN\n    1     1   NaN\n    2     2   2.0\n    3     3   3.0\n\n    Constructing DataFrame from numpy ndarray:\n\n    >>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]]),\n    ...                    columns=[\'a\', \'b\', \'c\'])\n    >>> df2\n       a  b  c\n    0  1  2  3\n    1  4  5  6\n    2  7  8  9\n\n    Constructing DataFrame from a numpy ndarray that has labeled columns:\n\n    >>> data = np.array([(1, 2, 3), (4, 5, 6), (7, 8, 9)],\n    ...                 dtype=[("a", "i4"), ("b", "i4"), ("c", "i4")])\n    >>> df3 = pd.DataFrame(data, columns=[\'c\', \'a\'])\n    ...\n    >>> df3\n       c  a\n    0  3  1\n    1  6  4\n    2  9  7\n\n    Constructing DataFrame from dataclass:\n\n    >>> from dataclasses import make_dataclass\n    >>> Point = make_dataclass("Point", [("x", int), ("y", int)])\n    >>> pd.DataFrame([Point(0, 0), Point(0, 3), Point(2, 3)])\n       x  y\n    0  0  0\n    1  0  3\n    2  2  3\n\n    Constructing DataFrame from Series/DataFrame:\n\n    >>> ser = pd.Series([1, 2, 3], index=["a", "b", "c"])\n    >>> df = pd.DataFrame(data=ser, index=["a", "c"])\n    >>> df\n       0\n    a  1\n    c  3\n\n    >>> df1 = pd.DataFrame([1, 2, 3], index=["a", "b", "c"], columns=["x"])\n    >>> df2 = pd.DataFrame(data=df1, index=["a", "c"])\n    >>> df2\n       x\n    a  1\n    c  3\n    ', '_internal_names_set': {'_mgr', '_item_cache', '_flags', '_cache', '_cacher', 'index', '_name', '_metadata', 'columns', '_is_copy'}, '_typ': 'dataframe', '_HANDLED_TYPES': (<class 'pandas.core.series.Series'>, <class 'pandas.core.indexes.base.Index'>, <class 'pandas.core.arrays.base.ExtensionArray'>, <class 'numpy.ndarray'>), '_accessors': {'sparse'}, '_hidden_attrs': frozenset(), '__pandas_priority__': 4000, '_constructor': <property object at 0x00000257B5850770>, '_constructor_from_mgr': <function DataFrame._constructor_from_mgr at 0x00000257B5AD20C0>, '_constructor_sliced': <class 'pandas.core.series.Series'>, '_constructor_sliced_from_mgr': <function DataFrame._constructor_sliced_from_mgr at 0x00000257B5B59E40>, '__init__': <function DataFrame.__init__ at 0x00000257B5B59EE0>, '__dataframe__': <function DataFrame.__dataframe__ at 0x00000257B5B59F80>, '__dataframe_consortium_standard__': <function DataFrame.__dataframe_consortium_standard__ at 0x00000257B5B5A020>, '__arrow_c_stream__': <function DataFrame.__arrow_c_stream__ at 0x00000257B5B5A0C0>, 'axes': <property object at 0x00000257B5AA9C60>, 'shape': <property object at 0x00000257B5AA9940>, '_is_homogeneous_type': <property object at 0x00000257B5B33560>, '_can_fast_transpose': <property object at 0x00000257B5B335B0>, '_values': <property object at 0x00000257B5B33600>, '_repr_fits_vertical_': <function DataFrame._repr_fits_vertical_ at 0x00000257B5B5A480>, '_repr_fits_horizontal_': <function DataFrame._repr_fits_horizontal_ at 0x00000257B5B5A520>, '_info_repr': <function DataFrame._info_repr at 0x00000257B5B5A5C0>, '__repr__': <function DataFrame.__repr__ at 0x00000257B5B5A660>, '_repr_html_': <function DataFrame._repr_html_ at 0x00000257B5B5A700>, 'to_string': <function DataFrame.to_string at 0x00000257B5B5AB60>, '_get_values_for_csv': <function DataFrame._get_values_for_csv at 0x00000257B5B5A980>, 'style': <property object at 0x00000257B5B33650>, 'items': <function DataFrame.items at 0x00000257B5B5AC00>, 'iterrows': <function DataFrame.iterrows at 0x00000257B5B5ACA0>, 'itertuples': <function DataFrame.itertuples at 0x00000257B5B5AD40>, '__len__': <function DataFrame.__len__ at 0x00000257B5B5ADE0>, 'dot': <function DataFrame.dot at 0x00000257B5B5B060>, '__matmul__': <function DataFrame.__matmul__ at 0x00000257B5B5B2E0>, '__rmatmul__': <function DataFrame.__rmatmul__ at 0x00000257B5B5B380>, 'from_dict': <classmethod(<function DataFrame.from_dict at 0x00000257B5B5B420>)>, 'to_numpy': <function DataFrame.to_numpy at 0x00000257B5B5B4C0>, '_create_data_for_split_and_tight_to_dict': <function DataFrame._create_data_for_split_and_tight_to_dict at 0x00000257B5B5B560>, 'to_dict': <function DataFrame.to_dict at 0x00000257B5B5BB00>, 'to_gbq': <function DataFrame.to_gbq at 0x00000257B5B5BC40>, 'from_records': <classmethod(<function DataFrame.from_records at 0x00000257B5B5B920>)>, 'to_records': <function DataFrame.to_records at 0x00000257B5B5BBA0>, '_from_arrays': <classmethod(<function DataFrame._from_arrays at 0x00000257B5B5BCE0>)>, 'to_stata': <function DataFrame.to_stata at 0x00000257B5B5BE20>, 'to_feather': <function DataFrame.to_feather at 0x00000257B5B5BD80>, 'to_markdown': <function DataFrame.to_markdown at 0x00000257B5B5BF60>, 'to_parquet': <function DataFrame.to_parquet at 0x00000257B5B5C400>, 'to_orc': <function DataFrame.to_orc at 0x00000257B5B5C220>, 'to_html': <function DataFrame.to_html at 0x00000257B5B5C7C0>, 'to_xml': <function DataFrame.to_xml at 0x00000257B5B5CAE0>, 'info': <function DataFrame.info at 0x00000257B5B5C9A0>, 'memory_usage': <function DataFrame.memory_usage at 0x00000257B5B5C900>, 'transpose': <function DataFrame.transpose at 0x00000257B5B5CB80>, 'T': <property object at 0x00000257B5B336F0>, '_ixs': <function DataFrame._ixs at 0x00000257B5B5CCC0>, '_get_column_array': <function DataFrame._get_column_array at 0x00000257B5B5CD60>, '_iter_column_arrays': <function DataFrame._iter_column_arrays at 0x00000257B5B5CE00>, '_getitem_nocopy': <function DataFrame._getitem_nocopy at 0x00000257B5B5CEA0>, '__getitem__': <function DataFrame.__getitem__ at 0x00000257B5B5CF40>, '_getitem_bool_array': <function DataFrame._getitem_bool_array at 0x00000257B5B5CFE0>, '_getitem_multilevel': <function DataFrame._getitem_multilevel at 0x00000257B5B5D080>, '_get_value': <function DataFrame._get_value at 0x00000257B5B5D120>, 'isetitem': <function DataFrame.isetitem at 0x00000257B5B5D1C0>, '__setitem__': <function DataFrame.__setitem__ at 0x00000257B5B5D260>, '_setitem_slice': <function DataFrame._setitem_slice at 0x00000257B5B5D300>, '_setitem_array': <function DataFrame._setitem_array at 0x00000257B5B5D3A0>, '_iset_not_inplace': <function DataFrame._iset_not_inplace at 0x00000257B5B5D440>, '_setitem_frame': <function DataFrame._setitem_frame at 0x00000257B5B5D4E0>, '_set_item_frame_value': <function DataFrame._set_item_frame_value at 0x00000257B5B5D580>, '_iset_item_mgr': <function DataFrame._iset_item_mgr at 0x00000257B5B5D620>, '_set_item_mgr': <function DataFrame._set_item_mgr at 0x00000257B5B5D6C0>, '_iset_item': <function DataFrame._iset_item at 0x00000257B5B5D760>, '_set_item': <function DataFrame._set_item at 0x00000257B5B5D800>, '_set_value': <function DataFrame._set_value at 0x00000257B5B5D8A0>, '_ensure_valid_index': <function DataFrame._ensure_valid_index at 0x00000257B5B5D940>, '_box_col_values': <function DataFrame._box_col_values at 0x00000257B5B5D9E0>, '_clear_item_cache': <function DataFrame._clear_item_cache at 0x00000257B5B5DA80>, '_get_item_cache': <function DataFrame._get_item_cache at 0x00000257B5B5DB20>, '_reset_cacher': <function DataFrame._reset_cacher at 0x00000257B5B5DBC0>, '_maybe_cache_changed': <function DataFrame._maybe_cache_changed at 0x00000257B5B5DC60>, 'query': <function DataFrame.query at 0x00000257B5B5DF80>, 'eval': <function DataFrame.eval at 0x00000257B5B5E200>, 'select_dtypes': <function DataFrame.select_dtypes at 0x00000257B5B5E2A0>, 'insert': <function DataFrame.insert at 0x00000257B5B5E340>, 'assign': <function DataFrame.assign at 0x00000257B5B5E3E0>, '_sanitize_column': <function DataFrame._sanitize_column at 0x00000257B5B5E480>, '_series': <property object at 0x00000257B5B33740>, '_reindex_multi': <function DataFrame._reindex_multi at 0x00000257B5B5E5C0>, 'set_axis': <function DataFrame.set_axis at 0x00000257B5B5E700>, 'reindex': <function DataFrame.reindex at 0x00000257B5B5E7A0>, 'drop': <function DataFrame.drop at 0x00000257B5B5EA20>, 'rename': <function DataFrame.rename at 0x00000257B5B5ED40>, 'pop': <function DataFrame.pop at 0x00000257B5B5EDE0>, '_replace_columnwise': <function DataFrame._replace_columnwise at 0x00000257B5B5EE80>, 'shift': <function DataFrame.shift at 0x00000257B5B5EFC0>, 'set_index': <function DataFrame.set_index at 0x00000257B5B5F1A0>, 'reset_index': <function DataFrame.reset_index at 0x00000257B5B5F4C0>, 'isna': <function DataFrame.isna at 0x00000257B5B5F600>, 'isnull': <function DataFrame.isnull at 0x00000257B5B5F6A0>, 'notna': <function DataFrame.notna at 0x00000257B5B5F740>, 'notnull': <function DataFrame.notnull at 0x00000257B5B5F7E0>, 'dropna': <function DataFrame.dropna at 0x00000257B5B5F9C0>, 'drop_duplicates': <function DataFrame.drop_duplicates at 0x00000257B5B5FCE0>, 'duplicated': <function DataFrame.duplicated at 0x00000257B5B5FD80>, 'sort_values': <function DataFrame.sort_values at 0x00000257B5B6C040>, 'sort_index': <function DataFrame.sort_index at 0x00000257B5B6C360>, 'value_counts': <function DataFrame.value_counts at 0x00000257B5B6C400>, 'nlargest': <function DataFrame.nlargest at 0x00000257B5B6C4A0>, 'nsmallest': <function DataFrame.nsmallest at 0x00000257B5B6C540>, 'swaplevel': <function DataFrame.swaplevel at 0x00000257B5B6C680>, 'reorder_levels': <function DataFrame.reorder_levels at 0x00000257B5B6C5E0>, '_cmp_method': <function DataFrame._cmp_method at 0x00000257B5B6C720>, '_arith_method': <function DataFrame._arith_method at 0x00000257B5B6C7C0>, '_logical_method': <function DataFrame._arith_method at 0x00000257B5B6C7C0>, '_dispatch_frame_op': <function DataFrame._dispatch_frame_op at 0x00000257B5B6C860>, '_combine_frame': <function DataFrame._combine_frame at 0x00000257B5B6C900>, '_arith_method_with_reindex': <function DataFrame._arith_method_with_reindex at 0x00000257B5B6C9A0>, '_should_reindex_frame_op': <function DataFrame._should_reindex_frame_op at 0x00000257B5B6CA40>, '_align_for_op': <function DataFrame._align_for_op at 0x00000257B5B6CAE0>, '_maybe_align_series_as_frame': <function DataFrame._maybe_align_series_as_frame at 0x00000257B5B6CB80>, '_flex_arith_method': <function DataFrame._flex_arith_method at 0x00000257B5B6CC20>, '_construct_result': <function DataFrame._construct_result at 0x00000257B5B6CCC0>, '__divmod__': <function DataFrame.__divmod__ at 0x00000257B5B6CD60>, '__rdivmod__': <function DataFrame.__rdivmod__ at 0x00000257B5B6CE00>, '_flex_cmp_method': <function DataFrame._flex_cmp_method at 0x00000257B5B6CEA0>, 'eq': <function DataFrame.eq at 0x00000257B5B6CF40>, 'ne': <function DataFrame.ne at 0x00000257B5B6CFE0>, 'le': <function DataFrame.le at 0x00000257B5B6D080>, 'lt': <function DataFrame.lt at 0x00000257B5B6D120>, 'ge': <function DataFrame.ge at 0x00000257B5B6D1C0>, 'gt': <function DataFrame.gt at 0x00000257B5B6D260>, 'add': <function DataFrame.add at 0x00000257B5B6D300>, 'radd': <function DataFrame.radd at 0x00000257B5B6D3A0>, 'sub': <function DataFrame.sub at 0x00000257B5B6D440>, 'subtract': <function DataFrame.sub at 0x00000257B5B6D440>, 'rsub': <function DataFrame.rsub at 0x00000257B5B6D4E0>, 'mul': <function DataFrame.mul at 0x00000257B5B6D580>, 'multiply': <function DataFrame.mul at 0x00000257B5B6D580>, 'rmul': <function DataFrame.rmul at 0x00000257B5B6D620>, 'truediv': <function DataFrame.truediv at 0x00000257B5B6D6C0>, 'div': <function DataFrame.truediv at 0x00000257B5B6D6C0>, 'divide': <function DataFrame.truediv at 0x00000257B5B6D6C0>, 'rtruediv': <function DataFrame.rtruediv at 0x00000257B5B6D760>, 'rdiv': <function DataFrame.rtruediv at 0x00000257B5B6D760>, 'floordiv': <function DataFrame.floordiv at 0x00000257B5B6D800>, 'rfloordiv': <function DataFrame.rfloordiv at 0x00000257B5B6D8A0>, 'mod': <function DataFrame.mod at 0x00000257B5B6D940>, 'rmod': <function DataFrame.rmod at 0x00000257B5B6D9E0>, 'pow': <function DataFrame.pow at 0x00000257B5B6DA80>, 'rpow': <function DataFrame.rpow at 0x00000257B5B6DB20>, 'compare': <function DataFrame.compare at 0x00000257B5B6DC60>, 'combine': <function DataFrame.combine at 0x00000257B5B6DBC0>, 'combine_first': <function DataFrame.combine_first at 0x00000257B5B6DD00>, 'update': <function DataFrame.update at 0x00000257B5B6DDA0>, 'groupby': <function DataFrame.groupby at 0x00000257B5B6DE40>, 'pivot': <function DataFrame.pivot at 0x00000257B5B6DF80>, 'pivot_table': <function DataFrame.pivot_table at 0x00000257B5B6DEE0>, 'stack': <function DataFrame.stack at 0x00000257B5B6E020>, 'explode': <function DataFrame.explode at 0x00000257B5B6E0C0>, 'unstack': <function DataFrame.unstack at 0x00000257B5B6E160>, 'melt': <function DataFrame.melt at 0x00000257B5B6E200>, 'diff': <function DataFrame.diff at 0x00000257B5B6E340>, '_gotitem': <function DataFrame._gotitem at 0x00000257B5B6E2A0>, '_agg_see_also_doc': '\nSee Also\n--------\nDataFrame.apply : Perform any type of operations.\nDataFrame.transform : Perform transformation type operations.\npandas.DataFrame.groupby : Perform operations over groups.\npandas.DataFrame.resample : Perform operations over resampled bins.\npandas.DataFrame.rolling : Perform operations over rolling window.\npandas.DataFrame.expanding : Perform operations over expanding window.\npandas.core.window.ewm.ExponentialMovingWindow : Perform operation over exponential\n    weighted window.\n', '_agg_examples_doc': '\nExamples\n--------\n>>> df = pd.DataFrame([[1, 2, 3],\n...                    [4, 5, 6],\n...                    [7, 8, 9],\n...                    [np.nan, np.nan, np.nan]],\n...                   columns=[\'A\', \'B\', \'C\'])\n\nAggregate these functions over the rows.\n\n>>> df.agg([\'sum\', \'min\'])\n        A     B     C\nsum  12.0  15.0  18.0\nmin   1.0   2.0   3.0\n\nDifferent aggregations per column.\n\n>>> df.agg({\'A\' : [\'sum\', \'min\'], \'B\' : [\'min\', \'max\']})\n        A    B\nsum  12.0  NaN\nmin   1.0  2.0\nmax   NaN  8.0\n\nAggregate different functions over the columns and rename the index of the resulting\nDataFrame.\n\n>>> df.agg(x=(\'A\', \'max\'), y=(\'B\', \'min\'), z=(\'C\', \'mean\'))\n     A    B    C\nx  7.0  NaN  NaN\ny  NaN  2.0  NaN\nz  NaN  NaN  6.0\n\nAggregate over the columns.\n\n>>> df.agg("mean", axis="columns")\n0    2.0\n1    5.0\n2    8.0\n3    NaN\ndtype: float64\n', 'aggregate': <function DataFrame.aggregate at 0x00000257B5B6E480>, 'agg': <function DataFrame.aggregate at 0x00000257B5B6E480>, 'transform': <function DataFrame.transform at 0x00000257B5B6E520>, 'apply': <function DataFrame.apply at 0x00000257B5B6E3E0>, 'map': <function DataFrame.map at 0x00000257B5B6E5C0>, 'applymap': <function DataFrame.applymap at 0x00000257B5B6E660>, '_append': <function DataFrame._append at 0x00000257B5B6E700>, 'join': <function DataFrame.join at 0x00000257B5B6E7A0>, 'merge': <function DataFrame.merge at 0x00000257B5B6E840>, 'round': <function DataFrame.round at 0x00000257B5B6E8E0>, 'corr': <function DataFrame.corr at 0x00000257B5B6E980>, 'cov': <function DataFrame.cov at 0x00000257B5B6EA20>, 'corrwith': <function DataFrame.corrwith at 0x00000257B5B6EAC0>, 'count': <function DataFrame.count at 0x00000257B5B6EB60>, '_reduce': <function DataFrame._reduce at 0x00000257B5B6EC00>, '_reduce_axis1': <function DataFrame._reduce_axis1 at 0x00000257B5B6ECA0>, 'any': <function DataFrame.any at 0x00000257B5B6EDE0>, 'all': <function DataFrame.all at 0x00000257B5B6EE80>, 'min': <function DataFrame.min at 0x00000257B5B6EF20>, 'max': <function DataFrame.max at 0x00000257B5B6EFC0>, 'sum': <function DataFrame.sum at 0x00000257B5B6F060>, 'prod': <function DataFrame.prod at 0x00000257B5B6F100>, 'mean': <function DataFrame.mean at 0x00000257B5B6F1A0>, 'median': <function DataFrame.median at 0x00000257B5B6F240>, 'sem': <function DataFrame.sem at 0x00000257B5B6F2E0>, 'var': <function DataFrame.var at 0x00000257B5B6F380>, 'std': <function DataFrame.std at 0x00000257B5B6F420>, 'skew': <function DataFrame.skew at 0x00000257B5B6F4C0>, 'kurt': <function DataFrame.kurt at 0x00000257B5B6F560>, 'kurtosis': <function DataFrame.kurt at 0x00000257B5B6F560>, 'product': <function DataFrame.prod at 0x00000257B5B6F100>, 'cummin': <function DataFrame.cummin at 0x00000257B5B6F600>, 'cummax': <function DataFrame.cummax at 0x00000257B5B6F6A0>, 'cumsum': <function DataFrame.cumsum at 0x00000257B5B6F740>, 'cumprod': <function DataFrame.cumprod at 0x00000257B5B6F7E0>, 'nunique': <function DataFrame.nunique at 0x00000257B5B6ED40>, 'idxmin': <function DataFrame.idxmin at 0x00000257B5B6F920>, 'idxmax': <function DataFrame.idxmax at 0x00000257B5B6F9C0>, '_get_agg_axis': <function DataFrame._get_agg_axis at 0x00000257B5B6F880>, 'mode': <function DataFrame.mode at 0x00000257B5B6FA60>, 'quantile': <function DataFrame.quantile at 0x00000257B5B6FD80>, 'to_timestamp': <function Data

In [143]:
d={}
d['K1']=[{"class":{"K1":10,"K2":20},"url":"https://www.abc.com"},
         {"class":{"K1":100,"K2":200},"url":"https://www.google.com"},
         {"class":{"K1":"D1","K2":"D2"}}]
d['K2']={'K1':{'K1':{'K1':[{'K1':'V1','K2':'V2'}]}}}
print(d)

{'K1': [{'class': {'K1': 10, 'K2': 20}, 'url': 'https://www.abc.com'}, {'class': {'K1': 100, 'K2': 200}, 'url': 'https://www.google.com'}, {'class': {'K1': 'D1', 'K2': 'D2'}}], 'K2': {'K1': {'K1': {'K1': [{'K1': 'V1', 'K2': 'V2'}]}}}}

In [145]:
import pprint
pprint.pprint(d)

{'K1': [{'class': {'K1': 10, 'K2': 20}, 'url': 'https://www.abc.com'},
        {'class': {'K1': 100, 'K2': 200}, 'url': 'https://www.google.com'},
        {'class': {'K1': 'D1', 'K2': 'D2'}}],
 'K2': {'K1': {'K1': {'K1': [{'K1': 'V1', 'K2': 'V2'}]}}}}

In [147]:
pprint.pprint(pandas.DataFrame.__dict__)

mappingproxy({'T': <property object at 0x00000257B5B336F0>,
              '_AXIS_LEN': 2,
              '_AXIS_ORDERS': ['index', 'columns'],
              '_AXIS_TO_AXIS_NUMBER': {0: 0,
                                       1: 1,
                                       'columns': 1,
                                       'index': 0,
                                       'rows': 0},
              '_HANDLED_TYPES': (<class 'pandas.core.series.Series'>,
                                 <class 'pandas.core.indexes.base.Index'>,
                                 <class 'pandas.core.arrays.base.ExtensionArray'>,
                                 <class 'numpy.ndarray'>),
              '__annotations__': {'_AXIS_ORDERS': "list[Literal['index', "
                                                  "'columns']]",
                                  '_AXIS_TO_AXIS_NUMBER': 'dict[Axis, int]',
                                  '_accessors': 'set[str]',
                                  '_constructor_sliced': 'Callable[..., '
                                                         'Series]',
                                  '_hidden_attrs': 'frozenset[str]',
                                  '_info_axis_name': "Literal['columns']",
                                  '_info_axis_number': 'Literal[1]',
                                  '_mgr': 'BlockManager | ArrayManager'},
              '__arrow_c_stream__': <function DataFrame.__arrow_c_stream__ at 0x00000257B5B5A0C0>,
              '__dataframe__': <function DataFrame.__dataframe__ at 0x00000257B5B59F80>,
              '__dataframe_consortium_standard__': <function DataFrame.__dataframe_consortium_standard__ at 0x00000257B5B5A020>,
              '__divmod__': <function DataFrame.__divmod__ at 0x00000257B5B6CD60>,
              '__doc__': '\n'
                         '    Two-dimensional, size-mutable, potentially '
                         'heterogeneous tabular data.\n'
                         '\n'
                         '    Data structure also contains labeled axes (rows '
                         'and columns).\n'
                         '    Arithmetic operations align on both row and '
                         'column labels. Can be\n'
                         '    thought of as a dict-like container for Series '
                         'objects. The primary\n'
                         '    pandas data structure.\n'
                         '\n'
                         '    Parameters\n'
                         '    ----------\n'
                         '    data : ndarray (structured or homogeneous), '
                         'Iterable, dict, or DataFrame\n'
                         '        Dict can contain Series, arrays, constants, '
                         'dataclass or list-like objects. If\n'
                         '        data is a dict, column order follows '
                         'insertion-order. If a dict contains Series\n'
                         '        which have an index defined, it is aligned '
                         'by its index. This alignment also\n'
                         '        occurs if data is a Series or a DataFrame '
                         'itself. Alignment is done on\n'
                         '        Series/DataFrame inputs.\n'
                         '\n'
                         '        If data is a list of dicts, column order '
                         'follows insertion-order.\n'
                         '\n'
                         '    index : Index or array-like\n'
                         '        Index to use for resulting frame. Will '
                         'default to RangeIndex if\n'
                         '        no indexing information part of input data '
                         'and no index provided.\n'
                         '    columns : Index or array-like\n'
                         '        Column labels to use for resulting frame '
                         'when data does not have them,\n'
                         '        defaulting to RangeIndex(0, 1, 2, ..., n). '
                         'If data contains column labels,\n'
                         '        will perform column selection instead.\n'
                         '    dtype : dtype, default None\n'
                         '        Data type to force. Only a single dtype is '
                         'allowed. If None, infer.\n'
                         '    copy : bool or None, default None\n'
                         '        Copy data from inputs.\n'
                         '        For dict data, the default of None behaves '
                         'like ``copy=True``.  For DataFrame\n'
                         '        or 2d ndarray input, the default of None '
                         'behaves like ``copy=False``.\n'
                         '        If data is a dict containing one or more '
                         'Series (possibly of different dtypes),\n'
                         '        ``copy=False`` will ensure that these inputs '
                         'are not copied.\n'
                         '\n'
                         '        .. versionchanged:: 1.3.0\n'
                         '\n'
                         '    See Also\n'
                         '    --------\n'
                         '    DataFrame.from_records : Constructor from '
                         'tuples, also record arrays.\n'
                         '    DataFrame.from_dict : From dicts of Series, '
                         'arrays, or dicts.\n'
                         '    read_csv : Read a comma-separated values (csv) '
                         'file into DataFrame.\n'
                         '    read_table : Read general delimited file into '
                         'DataFrame.\n'
                         '    read_clipboard : Read text from clipboard into '
                         'DataFrame.\n'
                         '\n'
                         '    Notes\n'
                         '    -----\n'
                         '    Please reference the :ref:`User Guide '
                         '<basics.dataframe>` for more information.\n'
                         '\n'
                         '    Examples\n'
                         '    --------\n'
                         '    Constructing DataFrame from a dictionary.\n'
                         '\n'
                         "    >>> d = {'col1': [1, 2], 'col2': [3, 4]}\n"
                         '    >>> df = pd.DataFrame(data=d)\n'
                         '    >>> df\n'
                         '       col1  col2\n'
                         '    0     1     3\n'
                         '    1     2     4\n'
                         '\n'
                         '    Notice that the inferred dtype is int64.\n'
                         '\n'
                         '    >>> df.dtypes\n'
                         '    col1    int64\n'
                         '    col2    int64\n'
                         '    dtype: object\n'
                         '\n'
                         '    To enforce a single dtype:\n'
                         '\n'
                         '    >>> df = pd.DataFrame(data=d, dtype=np.int8)\n'
                         '    >>> df.dtypes\n'
                         '    col1    int8\n'
                         '    col2    int8\n'
                         '    dtype: object\n'
                         '\n'
                         '    Constructing DataFrame from a dictionary '
                         'including Series:\n'
                         '\n'
                         "    >>> d = {'col1': [0, 1, 2, 3], 'col2': "
                         'pd.Series([2, 3], index=[2, 3])}\n'
                         '    >>> pd.DataFrame(data=d, index=[0, 1, 2, 3])\n'
                         '       col1  col2\n'
                         '    0     0   NaN\n'
                         '    1     1   NaN\n'
                         '    2     2   2.0\n'
                         '    3     3   3.0\n'
                         '\n'
                         '    Constructing DataFrame from numpy ndarray:\n'
                         '\n'
                         '    >>> df2 = pd.DataFrame(np.array([[1, 2, 3], [4, '
                         '5, 6], [7, 8, 9]]),\n'
                         "    ...                    columns=['a', 'b', 'c'])\n"
                         '    >>> df2\n'
                         '       a  b  c\n'
                         '    0  1  2  3\n'
                         '    1  4  5  6\n'
                         '    2  7  8  9\n'
                         '\n'
                         '    Constructing DataFrame from a numpy ndarray that '
                         'has labeled columns:\n'
                         '\n'
                         '    >>> data = np.array([(1, 2, 3), (4, 5, 6), (7, '
                         '8, 9)],\n'
                         '    ...                 dtype=[("a", "i4"), ("b", '
                         '"i4"), ("c", "i4")])\n'
                         "    >>> df3 = pd.DataFrame(data, columns=['c', "
                         "'a'])\n"
                         '    ...\n'
                         '    >>> df3\n'
                         '       c  a\n'
                         '    0  3  1\n'
                         '    1  6  4\n'
                         '    2  9  7\n'
                         '\n'
                         '    Constructing DataFrame from dataclass:\n'
                         '\n'
                         '    >>> from dataclasses import make_dataclass\n'
                         '    >>> Point = make_dataclass("Point", [("x", int), '
                         '("y", int)])\n'
                         '    >>> pd.DataFrame([Point(0, 0), Point(0, 3), '
                         'Point(2, 3)])\n'
                         '       x  y\n'
                         '    0  0  0\n'
                         '    1  0  3\n'
                         '    2  2  3\n'
                         '\n'
                         '    Constructing DataFrame from Series/DataFrame:\n'
                         '\n'
                         '    >>> ser = pd.Series([1, 2, 3], index=["a", "b", '
                         '"c"])\n'
                         '    >>> df = pd.DataFrame(data=ser, index=["a", '
                         '"c"])\n'
                         '    >>> df\n'
                         '       0\n'
                         '    a  1\n'
                         '    c  3\n'
                         '\n'
                         '    >>> df1 = pd.DataFrame([1, 2, 3], index=["a", '
                         '"b", "c"], columns=["x"])\n'
                         '    >>> df2 = pd.DataFrame(data=df1, index=["a", '
                         '"c"])\n'
                         '    >>> df2\n'
                         '       x\n'
                         '    a  1\n'
                         '    c  3\n'
                         '    ',
              '__getitem__': <function DataFrame.__getitem__ at 0x00000257B5B5CF40>,
              '__init__': <function DataFrame.__init__ at 0x00000257B5B59EE0>,
              '__len__': <function DataFrame.__len__ at 0x00000257B5B5ADE0>,
              '__matmul__': <function DataFrame.__matmul__ at 0x00000257B5B5B2E0>,
              '__module__': 'pandas.core.frame',
              '__pandas_priority__': 4000,
              '__rdivmod__': <function DataFrame.__rdivmod__ at 0x00000257B5B6CE00>,
              '__repr__': <function DataFrame.__repr__ at 0x00000257B5B5A660>,
              '__rmatmul__': <function DataFrame.__rmatmul__ at 0x00000257B5B5B380>,
              '__setitem__': <function DataFrame.__setitem__ at 0x00000257B5B5D260>,
              '_accessors': {'sparse'},
              '_agg_examples_doc': '\n'
                                   'Examples\n'
                                   '--------\n'
                                   '>>> df = pd.DataFrame([[1, 2, 3],\n'
                                   '...                    [4, 5, 6],\n'
                                   '...                    [7, 8, 9],\n'
                                   '...                    [np.nan, np.nan, '
                                   'np.nan]],\n'
                                   "...                   columns=['A', 'B', "
                                   "'C'])\n"
                                   '\n'
                                   'Aggregate these functions over the rows.\n'
                                   '\n'
                                   ">>> df.agg(['sum', 'min'])\n"
                                   '        A     B     C\n'
                                   'sum  12.0  15.0  18.0\n'
                                   'min   1.0   2.0   3.0\n'
                                   '\n'
                                   'Different aggregations per column.\n'
                                   '\n'
                                   ">>> df.agg({'A' : ['sum', 'min'], 'B' : "
                                   "['min', 'max']})\n"
                                   '        A    B\n'
                                   'sum  12.0  NaN\n'
                                   'min   1.0  2.0\n'
                                   'max   NaN  8.0\n'
                                   '\n'
                                   'Aggregate different functions over the '
                                   'columns and rename the index of the '
                                   'resulting\n'
                                   'DataFrame.\n'
                                   '\n'
                                   ">>> df.agg(x=('A', 'max'), y=('B', 'min'), "
                                   "z=('C', 'mean'))\n"
                                   '     A    B    C\n'
                                   'x  7.0  NaN  NaN\n'
                                   'y  NaN  2.0  NaN\n'
                                   'z  NaN  NaN  6.0\n'
                                   '\n'
                                   'Aggregate over the columns.\n'
                                   '\n'
                                   '>>> df.agg("mean", axis="columns")\n'
                                   '0    2.0\n'
                                   '1    5.0\n'
                                   '2    8.0\n'
                                   '3    NaN\n'
                                   'dtype: float64\n',
              '_agg_see_also_doc': '\n'
                                   'See Also\n'
                                   '--------\n'
                                   'DataFrame.apply : Perform any type of '
                                   'operations.\n'
                                   'DataFrame.transform : Perform '
                                   'transformation type operations.\n'
                                   'pandas.DataFrame.groupby : Perform '
                                   'operations over groups.\n'
                                   'pandas.DataFrame.resample : Perform '
                                   'operations over resampled bins.\n'
                                   'pandas.DataFrame.rolling : Perform '
                                   'operations over rolling window.\n'
                                   'pandas.DataFrame.expanding : Perform '
                                   'operations over expanding window.\n'
                                   'pandas.core.window.ewm.ExponentialMovingWindow '
                                   ': Perform operation over exponential\n'
                                   '    weighted window.\n',
              '_align_for_op': <function DataFrame._align_for_op at 0x00000257B5B6CAE0>,
              '_append': <function DataFrame._append at 0x00000257B5B6E700>,
              '_arith_method': <function DataFrame._arith_method at 0x00000257B5B6C7C0>,
              '_arith_method_with_reindex': <function DataFrame._arith_method_with_reindex at 0x00000257B5B6C9A0>,
              '_box_col_values': <function DataFrame._box_col_values at 0x00000257B5B5D9E0>,
              '_can_fast_transpose': <property object at 0x00000257B5B335B0>,
              '_clear_item_cache': <function DataFrame._clear_item_cache at 0x00000257B5B5DA80>,
              '_cmp_method': <function DataFrame._cmp_method at 0x00000257B5B6C720>,
              '_combine_frame': <function DataFrame._combine_frame at 0x00000257B5B6C900>,
              '_construct_result': <function DataFrame._construct_result at 0x00000257B5B6CCC0>,
              '_constructor': <property object at 0x00000257B5850770>,
              '_constructor_from_mgr': <function DataFrame._constructor_from_mgr at 0x00000257B5AD20C0>,
              '_constructor_sliced': <class 'pandas.core.series.Series'>,
              '_constructor_sliced_from_mgr': <function DataFrame._constructor_sliced_from_mgr at 0x00000257B5B59E40>,
              '_create_data_for_split_and_tight_to_dict': <function DataFrame._create_data_for_split_and_tight_to_dict at 0x00000257B5B5B560>,
              '_dispatch_frame_op': <function DataFrame._dispatch_frame_op at 0x00000257B5B6C860>,
              '_ensure_valid_index': <function DataFrame._ensure_valid_index at 0x00000257B5B5D940>,
              '_flex_arith_method': <function DataFrame._flex_arith_method at 0x00000257B5B6CC20>,
              '_flex_cmp_method': <function DataFrame._flex_cmp_method at 0x00000257B5B6CEA0>,
              '_from_arrays': <classmethod(<function DataFrame._from_arrays at 0x00000257B5B5BCE0>)>,
              '_get_agg_axis': <function DataFrame._get_agg_axis at 0x00000257B5B6F880>,
              '_get_column_array': <function DataFrame._get_column_array at 0x00000257B5B5CD60>,
              '_get_item_cache': <function DataFrame._get_item_cache at 0x00000257B5B5DB20>,
              '_get_value': <function DataFrame._get_value at 0x00000257B5B5D120>,
              '_get_values_for_csv': <function DataFrame._get_values_for_csv at 0x00000257B5B5A980>,
              '_getitem_bool_array': <function DataFrame._getitem_bool_array at 0x00000257B5B5CFE0>,
              '_getitem_multilevel': <function DataFrame._getitem_multilevel at 0x00000257B5B5D080>,
              '_getitem_nocopy': <function DataFrame._getitem_nocopy at 0x00000257B5B5CEA0>,
              '_gotitem': <function DataFrame._gotitem at 0x00000257B5B6E2A0>,
              '_hidden_attrs': frozenset(),
              '_info_axis_name': 'columns',
              '_info_axis_number': 1,
              '_info_repr': <function DataFrame._info_repr at 0x00000257B5B5A5C0>,
              '_internal_names_set': {'_cache',
                                      '_cacher',
                                      '_flags',
                                      '_is_copy',
                                      '_item_cache',
                                      '_metadata',
                                      '_mgr',
                                      '_name',
                                      'columns',
                                      'index'},
              '_is_homogeneous_type': <property object at 0x00000257B5B33560>,
              '_iset_item': <function DataFrame._iset_item at 0x00000257B5B5D760>,
              '_iset_item_mgr': <function DataFrame._iset_item_mgr at 0x00000257B5B5D620>,
              '_iset_not_inplace': <function DataFrame._iset_not_inplace at 0x00000257B5B5D440>,
              '_iter_column_arrays': <function DataFrame._iter_column_arrays at 0x00000257B5B5CE00>,
              '_ixs': <function DataFrame._ixs at 0x00000257B5B5CCC0>,
              '_logical_method': <function DataFrame._arith_method at 0x00000257B5B6C7C0>,
              '_maybe_align_series_as_frame': <function DataFrame._maybe_align_series_as_frame at 0x00000257B5B6CB80>,
              '_maybe_cache_changed': <function DataFrame._maybe_cache_changed at 0x00000257B5B5DC60>,

Decorator - metaprogramming
            -----------------
               - add new features to an exisiting code
             python ------> product1 V1.0 ->customer End
                                ...                |
                            product2 V2.0 ->customer End .... 
                                ...
Web development
Home AboutUs  news ContactUs
               |->City1
               |->City2
.......................//Running 
Home AboutUs  news ContactUs
               |->City1
               |->City2
               |->City3 <== new feature
               |->City4 <== new feature

Home AboutUs  news ContactUs [Blog]
               |->City1          |__new feature
               |->City2
               |->City3
               |->City4

In [149]:
def f1(a):  # decorator function
    def f2(): # wrapper function
        a()
    return f2

def news1():
    print('City1 news page')

f1(news1)

In [151]:
rv = f1(news1)
rv()

City1 news page

In [153]:
#rv = f1(news1)
#rv()
@f1
def news2():
    print('City2 news page')

news2()

City2 news page

In [155]:
news1()

City1 news page

In [157]:
@f1
def news3():
    print('City3 news page')

In [159]:
news3()

City3 news page

In [161]:
class cname:
    var = 120
    @classmethod
    def f1(cls):
        '''this is class method'''
        print(cls.var) # like cname.var  -> 120
        cls.var = 200 # like cname.var = 200


print(cname.var) # 120
cname.f1() # f1(cname)  Vs  obj.f1() ->f1(obj) ->def f1(self):
print('') # empty line
print(cname.var) # 200

120
120

200

In [163]:
import time
time.ctime()

'Mon Mar 17 14:52:16 2025'

In [165]:
class vendor:
    def __init__(self,vName,vGST):
        self.vName = vName
        self.vGST = vGST
        print(f'Vendor:{self.vName} registration is done!')
    def billing(self,pName,pCost=0.0,pQty=0):
        self.pName = pName
        self.pCost = pCost
        self.pQty = pQty
        self.tax = 0.18
        self.total = self.pQty * self.pCost
        self.gs = self.total + self.tax
        s1=f'VendorName:{self.vName}\tVendorGST:{self.vGST}\tProductName:{self.pName}\t'
        s2=f'Cost:{self.pCost}\tTax:{self.tax}\tTotal:{self.total}\tGS:{self.gs}\t'
        s3=f'Billing date/time:{time.ctime()}\n'
        with open('billing_info.log','a') as wobj:
            wobj.write(s1+s2+s3+'\n')

In [167]:
vobj1 = vendor('vABC','GST1234')

Vendor:vABC registration is done!

In [169]:
vobj1.billing('pX',1000,3)

In [171]:
vobj1.billing('pY',1250,2)

In [173]:
vobj2=vendor('vXYZ','GST9392')

Vendor:vXYZ registration is done!

In [175]:
vobj2.billing('pA',500,2)

In [177]:
vobj2.billing('pX',1523,2)

In [179]:
import os
os.getcwd()

'C:\\Users\\theeba'

In [181]:
import trading_app as tp
vobj1 = tp.vendor('vTom','GST31245')
vobj1.billing('HDD',5000,15)

Vendor:vTom registration is done!

In [ ]:
Inheritance
--------------
reusability

class pA:
    ....

class pB:
    ...
obj = pB()
obj.pAattribute ->AttributeError

class className(parentClassName): <== inheritance 
  ....
obj=className()
obj.<parentclassAttributes>


class customDataset(torch.utils.data.Dataset): <== inheritance
    ...

custom_dataset=customDataset()
--------------

In [183]:
class product:
    pid=101
    pname = 'pX'

class customer:
    cname='Mr.AB'

obj = customer()
obj.pid

AttributeError: 'customer' object has no attribute 'pid'

In [ ]:
>>> import trading_app
>>> import trading_app as tp
>>>
>>> vobj1 = tp.vendor('ABCDE','GST123131')
Vendor:ABCDE registration is done!
>>>
>>> vobj1.billing('pA',1000,3)
>>>
>>> import networkx as nx
>>> nx.Graph
<class 'networkx.classes.graph.Graph'>
>>>
>>> nx.Graph()
<networkx.classes.graph.Graph object at 0x000001A77D4CA7B0>
>>>

In [187]:
class product:
    pid=101
    pname = 'pX'

class customer(product): # inheritance   Vs   def function(argument):
    cname='Mr.AB'

obj = customer()
print(obj.pid,obj.pname,obj.cname)

101 pX Mr.AB

In [ ]:
file: test1.py                          file: test2.py
------------------                     --------------------
class product:                          import test1
    pid = 101                           class customer(test1.product):
    def fx(self):                              def fy(self):
        ...                                          ..
--------------------                  -----------------------

file: p1.py <== end user code
--------------
import test2
obj = test2.customer()
obj.fx()
obj.fy()
obj.pid
---------------

In [189]:
class product:
    pid=101
    pname = 'pX'

class customer(product): # inheritance   Vs   def function(argument):
    cname='Mr.AB'
    print('From customer class:',product.pid,product.pname)

obj = customer()
print(obj.pid,obj.pname,obj.cname)

From customer class: 101 pX
101 pX Mr.AB

In [ ]:
python < 2.6 
class cname(object):
    i = 10 ---------// ?

In [191]:
class box:
    bid = 101
box.__mro__

(__main__.box, object)

In [193]:
class product:
    pid=101
    pname = 'pX'

class customer(product): # inheritance   Vs   def function(argument):
    cname='Mr.AB'
    print('From customer class:',product.pid,product.pname)

customer.__mro__

From customer class: 101 pX

(__main__.customer, __main__.product, object)

In [199]:
class pA:
    pass
class pB:
    pass
class pC(pA,pB): # multipleinheritance
    pass

print(pA.__mro__)
print(pB.__mro__)
print(pC.__mro__)

(<class '__main__.pA'>, <class 'object'>)
(<class '__main__.pB'>, <class 'object'>)
(<class '__main__.pC'>, <class '__main__.pA'>, <class '__main__.pB'>, <class 'object'>)

In [201]:
class pA:
    pass
class pB(pA): # single inheritance
    pass
class pC(pA,pB): # multipleinheritance
    pass

print(pA.__mro__)
print(pB.__mro__)
print(pC.__mro__)

TypeError: Cannot create a consistent method resolution
order (MRO) for bases pA, pB

In [ ]:
# multilevel inheritance
class pA:
    pass
class pB(pA):
    pass
class pC(pB):
    pass
class pD(pC):
    pass
obj = pD()
obj.<pA attribute> #OK
obj.<pB attribute> #OK
obj.<pC attribute> #OK

In [203]:
class product:
    pid = 101

class customer(product):
    pid = 501
    pname = 'B1'

obj = customer()
obj.pid,obj.pid

(501, 501)

In [213]:
class product:
    pid = 101

class customer(product):
    mypid = product.pid
    pid = 605
    pname = 'B1'

obj = customer()
obj.pid,obj.mypid

(605, 101)

In [215]:
class pA:
    def display(self):
        print('display list of products')

class pB(pA):
    def display(self):
        print('list of files')

obj = pB()
obj.display()
obj.display()

list of files
list of files

In [219]:
class pA:
    def display(self):
        print('display list of products')

class pB(pA):
    def display(self):
        print('list of files')
        super().display() # invoke parent class display method

obj = pB()
obj.display()

list of files
display list of products

Functional style programming
--------------------------------
|->High order programming => functionA(anotherFunction) map(f1,...) filter(f1,...)

Functional programming
------------------------
lambda 
comprehension
generator 
map,filter,enumerate

In [ ]:
lambda 
- python keyword
- unnamed function 
- logic is function call with arguments - return some Value
- this is not block style code
- supports arithmetic;relational;logical;membership;other expressions
- can invoke external functionCall
- lambda list of arguments:<basicOperation>

In [221]:
def f1(a1,a2):
    return a1+a2

f1(10,20)

30

In [225]:
f2=lambda a1,a2:a1+a2
f2(10,20)

30

In [227]:
f3=lambda a1:a1 >500
f3(560)

True

In [229]:
f3(140)

False

In [231]:
f4 = lambda a:a.upper()
f4('abc')

'ABC'

In [233]:
def F4(a):
    return a.upper()

F4('abc')

'ABC'

In [235]:
def fx(a):
    if(a >500 and a<600):
        a = 150
        return a+100
    elif(a >100 and a<200):
        return a+200
    else:
        return 600

In [237]:
f5 = lambda a1:fx(a1)
f5(560)

250

In [239]:
f5(167)

367

In [241]:
f5(350)

600

In [ ]:
comprehension - adding new data to an existing structure
-------------
  |->list comprehension - list append operation 
                            [value for iterable]
                                       ---(1)--
                              --(2)--
  |->dict comprehension - adding new data to an existing dict
                              {key:value for iterable}

In [243]:
# list comprehension

L = [] 
for var in range(1,11):
    r = var + 100
    L.append(r)
L

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [245]:
[var+100 for var in range(1,11)]

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [247]:
L = [] 
for var in range(1,11):
    if(var >5):
        r = var + 100
        L.append(r)
    else:
        r = var + 500
        L.append(r)
L

[501, 502, 503, 504, 505, 106, 107, 108, 109, 110]

In [251]:
# [True if condition else False for iterable ]

[var+100 if var>5 else var+500 for var in range(1,11)]

[501, 502, 503, 504, 505, 106, 107, 108, 109, 110]

In [253]:
L = [] 
for var in range(1,11):
    if(var >5):
        r = var + 100
        L.append(r)
L

[106, 107, 108, 109, 110]

In [255]:
[var+100 for var in range(1,11) if var >5]

[106, 107, 108, 109, 110]

In [257]:
{'K':[var+100 for var in range(1,11) if var >5]}

{'K': [106, 107, 108, 109, 110]}

In [261]:
{'K'+str(var):[var+100 for var in range(1,11) if var >5]}

{'K10': [106, 107, 108, 109, 110]}

In [273]:
# dict comprehension
{'K'+str(var): var+100 for var in range(1,6)}

{'K1': 101, 'K2': 102, 'K3': 103, 'K4': 104, 'K5': 105}

In [275]:
{'K'+str(var): var+100 for var in range(1,6) if var > 3}

{'K4': 104, 'K5': 105}

In [281]:
#Generator  - Function ->returns an address 
                       #------------------- yield value

def f1():
    return 10

print(type(f1),type(f1()))

def f2():
    yield 10

print(type(f2),type(f2()))

<class 'function'> <class 'int'>
<class 'function'> <class 'generator'>

>>> os.listdir("Rya-Project")
['L1', 'L2', 'p1.py', 'p2.py', 'p3.py', 'templates']
>>>
>>> os.walk("Rya-Project")
<generator object walk at 0x000001F5894B4320>
>>>
>>> gen_obj = os.walk("Rya-Project")
>>> for var in gen_obj:
...     print(var)
...
('Rya-Project', ['L1', 'L2', 'templates'], ['p1.py', 'p2.py', 'p3.py'])
('Rya-Project\\L1', ['S1', 'S2'], ['p2.log'])
('Rya-Project\\L1\\S1', [], ['p1.log'])
('Rya-Project\\L1\\S2', [], [])
('Rya-Project\\L2', [], [])
('Rya-Project\\templates', [], ['a.html', 'b.html', 'c.html', 'd.html', 'e.html'])
>>> bool([])
False
>>> gen_obj = os.walk("Rya-Project")
>>> list(gen_obj)
[('Rya-Project', ['L1', 'L2', 'templates'], ['p1.py', 'p2.py', 'p3.py']), ('Rya-Project\\L1', ['S1', 'S2'], ['p2.log']), ('Rya-Project\\L1\\S1', [], ['p1.log']), ('Rya-Project\\L1\\S2', [], []), ('Rya-Project\\L2', [], []), ('Rya-Project\\templates', [], ['a.html', 'b.html', 'c.html', 'd.html', 'e.html'])]
>>>

In [283]:
f2()

In [285]:
def f2():
    yield 10
    yield 20
    yield 30
    yield 40
    yield 50+60
    yield "D1","D2"
    yield "D1",["F1","F2"],["F3","F4","F5"]

In [287]:
f2()

In [ ]:
1. next(gen_obj) ->value... StopIteration
2. for var in gen_obj:
           ...
3. list(gen_obj) # typecast to list

In [289]:
gen_obj = f2()

In [291]:
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))
print(next(gen_obj))

10
20
30
40
110
('D1', 'D2')
('D1', ['F1', 'F2'], ['F3', 'F4', 'F5'])

StopIteration:

In [293]:
gen_obj = f2()
for var in gen_obj:
    print(var)

10
20
30
40
110
('D1', 'D2')
('D1', ['F1', 'F2'], ['F3', 'F4', 'F5'])

In [295]:
gen_obj = f2()
list(gen_obj)

[10, 20, 30, 40, 110, ('D1', 'D2'), ('D1', ['F1', 'F2'], ['F3', 'F4', 'F5'])]

In [297]:
len(os.listdir('.'))

198

#for var in os.walk('.'):
#    print(var)

In [ ]:
map()      -> map(function,collection) -> Generator
                   ^^^^^     ^^^^^^
filter()   -> filter(function,collection) -> Generator
              -------//returns True value only

In [300]:
L = []
def f1(a):
    return a+100

for var in range(1,6):
    r = f1(var)
    L.append(r)

print(L)

[101, 102, 103, 104, 105]

In [302]:
map(lambda a:a+100,range(1,6))

In [304]:
list(map(lambda a:a+100,range(1,6)))

[101, 102, 103, 104, 105]

In [308]:
list(open('emp.csv'))

['eid,ename,edept,eplace,ecost\n',
 '101,ram,sales,pune,1000\n',
 '102,leo,prod,bglore,2000\n',
 '103,anu,HR,hyd,3000\n',
 '104,paul,sales,bglore,3200\n',
 '423,zio,sales,pune,3420\n',
 '142,anu,prod,chennai,4300\n',
 '949,karthik,sales,bglore,3100\n',
 '848,tom,hr,chennai,3940\n',
 '931,vijay,prod,chennai,3411']

In [310]:
d={}
d['CSV']=list(open('emp.csv')) 
d

{'CSV': ['eid,ename,edept,eplace,ecost\n',
  '101,ram,sales,pune,1000\n',
  '102,leo,prod,bglore,2000\n',
  '103,anu,HR,hyd,3000\n',
  '104,paul,sales,bglore,3200\n',
  '423,zio,sales,pune,3420\n',
  '142,anu,prod,chennai,4300\n',
  '949,karthik,sales,bglore,3100\n',
  '848,tom,hr,chennai,3940\n',
  '931,vijay,prod,chennai,3411']}

In [312]:
list(map(lambda a:'sales' in a,open('emp.csv')))

[False, True, False, False, True, True, False, True, False, False]

In [314]:
list(filter(lambda a:'sales' in a,open('emp.csv')))

['101,ram,sales,pune,1000\n',
 '104,paul,sales,bglore,3200\n',
 '423,zio,sales,pune,3420\n',
 '949,karthik,sales,bglore,3100\n']

In [316]:
dept={} # create empty dict
dept['SALES']=list(filter(lambda a:'sales' in a,open('emp.csv'))) # add data to dict
dept['PROD']=list(filter(lambda a:'prod' in a,open('emp.csv'))) # add data to dict
dept['hr']=list(filter(lambda a:'hr' in a,open('emp.csv'))) # add data to dict

In [318]:
dept

{'SALES': ['101,ram,sales,pune,1000\n',
  '104,paul,sales,bglore,3200\n',
  '423,zio,sales,pune,3420\n',
  '949,karthik,sales,bglore,3100\n'],
 'PROD': ['102,leo,prod,bglore,2000\n',
  '142,anu,prod,chennai,4300\n',
  '931,vijay,prod,chennai,3411'],
 'hr': ['848,tom,hr,chennai,3940\n']}

In [320]:
list(map(lambda a:a+100,range(1,6)))

[101, 102, 103, 104, 105]

In [326]:
# filter - supports conditional based 
list(filter(lambda a:a+100,range(1,6)))

[1, 2, 3, 4, 5]

In [322]:
list(map(lambda a: a > 3,range(1,6)))

[False, False, False, True, True]

In [324]:
list(filter(lambda a:a>3,range(1,6)))

[4, 5]

In [330]:
#help(enumerate)
enumerate('python')

In [332]:
list(enumerate('python'))

[(0, 'p'), (1, 'y'), (2, 't'), (3, 'h'), (4, 'o'), (5, 'n')]

In [334]:
for var in enumerate('python'):
    print(var)

(0, 'p')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [336]:
for var in enumerate('python',5):
    print(var)

(5, 'p')
(6, 'y')
(7, 't')
(8, 'h')
(9, 'o')
(10, 'n')

In [338]:
for var in enumerate('python',15):
    print(var)

(15, 'p')
(16, 'y')
(17, 't')
(18, 'h')
(19, 'o')
(20, 'n')

In [340]:
for var in enumerate('python',500):
    print(var)

(500, 'p')
(501, 'y')
(502, 't')
(503, 'h')
(504, 'o')
(505, 'n')

In [ ]:
open emp.csv file - use enumerate
set the index count is 1
apply line filter - 5 to 8 
display 5th line to 8th line contents
--------------------------------------

In [342]:
enumerate(open('emp.csv'))

In [344]:
for var in enumerate(open('emp.csv')):
    print(var)

(0, 'eid,ename,edept,eplace,ecost\n')
(1, '101,ram,sales,pune,1000\n')
(2, '102,leo,prod,bglore,2000\n')
(3, '103,anu,HR,hyd,3000\n')
(4, '104,paul,sales,bglore,3200\n')
(5, '423,zio,sales,pune,3420\n')
(6, '142,anu,prod,chennai,4300\n')
(7, '949,karthik,sales,bglore,3100\n')
(8, '848,tom,hr,chennai,3940\n')
(9, '931,vijay,prod,chennai,3411')

In [348]:
for var in enumerate(open('emp.csv')):
    line,data = var # multiple initialization
    if(line >=5 and line <= 8):
        print(line,data.strip()) # remove \n

5 423,zio,sales,pune,3420
6 142,anu,prod,chennai,4300
7 949,karthik,sales,bglore,3100
8 848,tom,hr,chennai,3940

In [350]:
for var in enumerate(open('emp.csv'),1):
    line,data = var # multiple initialization
    if(line >=5 and line <= 8):
        print(line,data.strip()) # remove \n

5 104,paul,sales,bglore,3200
6 423,zio,sales,pune,3420
7 142,anu,prod,chennai,4300
8 949,karthik,sales,bglore,3100

In [354]:
[data.strip() for line,data in enumerate(open('emp.csv'),1) if line >= 5 and line <=8 ]

['104,paul,sales,bglore,3200',
 '423,zio,sales,pune,3420',
 '142,anu,prod,chennai,4300',
 '949,karthik,sales,bglore,3100']

In [356]:
d={}
d['K1']=[data.strip() for line,data in enumerate(open('emp.csv'),1) if line >= 5 and line <=8 ]
d

{'K1': ['104,paul,sales,bglore,3200',
  '423,zio,sales,pune,3420',
  '142,anu,prod,chennai,4300',
  '949,karthik,sales,bglore,3100']}

In [370]:
dept={} # create empty dict
dept['SALES']=list(filter(lambda a:'sales' in a,open('emp.csv'))) # add data to dict
dept['PROD']=list(filter(lambda a:'prod' in a,open('emp.csv'))) # add data to dict
dept['hr']=list(filter(lambda a:'hr' in a,open('emp.csv'))) # add data to dict
len(dept['SALES']),len(dept['PROD'])

(4, 3)

In [ ]:
numpy
--------
 ->mathematical operation
 |
 -> index ; slicing;reshape
 -> ufunctions

In [372]:
L1=[10,20,30,40,50]
L1+100

TypeError: can only concatenate list (not "int") to list

In [374]:
L1=[10,20,30]
L2=[15,25,35]
L1+L2

[10, 20, 30, 15, 25, 35]

In [376]:
L1 > 150

TypeError: '>' not supported between instances of 'list' and 'int'

In [378]:
L1.append("data")
L1

[10, 20, 30, 'data']

In [382]:
import array
#help(array.array)
arr = array.array('i')
arr.append(10)
arr.append(15)
arr.append(25)
arr

array('i', [10, 15, 25])

In [384]:
arr.append(35.0)

TypeError: 'float' object cannot be interpreted as an integer

In [386]:
arr

array('i', [10, 15, 25])

In [388]:
arr+100

TypeError: can only append array (not "int") to array

In [390]:
import numpy
numpy.array([10,20,30])

array([10, 20, 30])

In [392]:
a1 = numpy.array([10,20,30])
a1+100

array([110, 120, 130])

In [394]:
a1 >15

array([False,  True,  True])

In [396]:
a1[a1 >15] # boolean index

array([20, 30])

In [402]:
print(a1.dtype)
print(a1.ndim)
print(a1.shape)

int32
1
(3,)

In [406]:
a1 = numpy.array([10,20,30])
print(a1.dtype,a1.ndim,a1.shape)
print('') # empty line

a2 = numpy.array([[10,20,30]])
print(a2.dtype,a2.ndim,a2.shape)
print('') # empty line


a3 = numpy.array([[[10,20,30]]])
print(a3.dtype,a3.ndim,a3.shape)
print('') # empty line

int32 1 (3,)

int32 2 (1, 3)

int32 3 (1, 1, 3)

In [410]:
a1 = numpy.array([10,20,30])
print(a1.dtype,a1.ndim,a1.shape)
print(a1[0])
print('') # empty line

a2 = numpy.array([[10,20,30]])
print(a2.dtype,a2.ndim,a2.shape)
print(a2[0])
print(a2[0][0])
print(a2[0,0]) # same as a2[0][0]
print('') # empty line


a3 = numpy.array([[[10,20,30]]])
print(a3.dtype,a3.ndim,a3.shape)
print(a3[0])
print(a3[0][0])
print(a3[0][0][0])
print('') # empty line

int32 1 (3,)
10

int32 2 (1, 3)
[10 20 30]
10
10

int32 3 (1, 1, 3)
[[10 20 30]]
[10 20 30]
10

In [414]:
numpy.array([1,2,3]).dtype

dtype('int32')

In [416]:
numpy.array([1,2.0,3]).dtype

dtype('float64')

In [418]:
numpy.array([1,2.0,'data']).dtype

dtype('<U32')

In [422]:
numpy.array([True,False]).dtype

dtype('bool')

In [424]:
a1 = numpy.array([10,20,30]) # 1D - like list - index 

a2 = numpy.array([[10,20,30]]) # 2D Table ->Row X Cols

a3 = numpy.array([[[10,20,30]]]) # 3D Table - Slicing,Row X cols - cube width,height,depth

an = numpy.array([[[[[[[10,20]]]]]]])
an.ndim

7

In [439]:
# change the dimension - based on the avaiable of data

a1 = numpy.array([[10,20,30,40],[50,60,70,80]])
print(a1.ndim,a1.shape)
a1

2 (2, 4)

array([[10, 20, 30, 40],
       [50, 60, 70, 80]])

In [441]:
a1.reshape(4,2) # 4rows and 2 Cols

array([[10, 20],
       [30, 40],
       [50, 60],
       [70, 80]])

In [443]:
a1.reshape(1,8)

array([[10, 20, 30, 40, 50, 60, 70, 80]])

In [445]:
a1.reshape(8,1) # 8 Rows X 1 cols

array([[10],
       [20],
       [30],
       [40],
       [50],
       [60],
       [70],
       [80]])

In [447]:
a1.reshape(3,2)

ValueError: cannot reshape array of size 8 into shape (3,2)

In [451]:
import numpy as np
print(np.sum(a1))
print(np.max(a1))
print(np.min(a1))

360
80
10

In [ ]:
     C1    C2    C3
R1    10   20    30
R2    40   50    60

In [453]:
a1 = np.array([[10,20,30],[40,50,60]])
np.sum(a1)

210

In [455]:
np.sum(a1,axis=0) # column

array([50, 70, 90])

In [457]:
np.sum(a1,axis=1) # row

array([ 60, 150])

np.sum
np.max
np.min
np.mean
np.median
np.unique
..

In [459]:
empCost = [100,200,300,400,500]

t=0
for var in empCost:
    t=t+var
print(t)

1500

In [461]:
np.sum(empCost) #<== numpy way

1500